/*=========================================================================================
    File Name: main-menu.scss
    Description: Styles for menu components, main navigation and menu itself.
    ----------------------------------------------------------------------------------------
    Item Name: Planet Info React Admin Template
    Version: 1.0
    Author: Planet Info
    Author URL: http://www.Planetinfo.com
==========================================================================================*/
